name: Deploy to Server

on:
  push:
    branches:
      - master

jobs:
  setup-repo:
    runs-on: ubuntu-latest
    steps:
      - name: Debug - Check if secrets are not empty
        run: |
          secrets=("${{ secrets.HOST_SSH_PRIVATE_KEY }}" 
           "${{ secrets.HOST }}" 
           "${{ secrets.HOST_USERNAME }}" 
           "${{ secrets.HOST_PORT }}" 
           "${{ secrets.PROJ_PATH }}" 
           "${{ secrets.GH_REPO_SSH_URL }}")

          for secret in "${secrets[@]}"; do
            if [ -z "$secret" ]; then
              echo "ERROR: A secret is empty!"
              exit 1
            fi
          done

          echo "All secrets are non-null."

      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Configure SSH
        uses: ./.github/actions/deploy/setup-ssh
        with:
          HOST_SSH_PRIVATE_KEY: ${{ secrets.HOST_SSH_PRIVATE_KEY }}

      - name: Setup Repository
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.HOST_USERNAME }}
          key: ${{ secrets.HOST_SSH_PRIVATE_KEY }}
          port: ${{ secrets.HOST_PORT }}
          script: |
            set -e
            echo "Checking if project directory exists..."
            if [ ! -d "${{ secrets.PROJ_PATH }}" ]; then
              echo "Project directory not found! Cloning repository..."
              mkdir -p ${{ secrets.PROJ_PATH }}
              cd ${{ secrets.PROJ_PATH }}
              git clone ${{ secrets.GH_REPO_SSH_URL }} .
              echo "Repository cloned. Please manually add the .env file to the server."
              exit 1
            else
              echo "Project directory exists. Pulling latest changes..."
              cd ${{ secrets.PROJ_PATH }}
              git fetch --all
              git reset --hard origin/master
            fi

  env-validate:
    needs: setup-repo
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Configure SSH
        uses: ./.github/actions/deploy/setup-ssh
        with:
          HOST_SSH_PRIVATE_KEY: ${{ secrets.HOST_SSH_PRIVATE_KEY }}
      
      - name: Add Host to Known Hosts
        run: |
          ssh-keyscan -p ${{ secrets.HOST_PORT }} ${{ secrets.HOST }} >> ~/.ssh/known_hosts

      - name: Validate Environment Variables on Host
        uses: ./.github/actions/deploy/check-host-envs
        with:
          HOST: ${{ secrets.HOST }}
          HOST_USERNAME: ${{ secrets.HOST_USERNAME }}
          HOST_PORT: ${{ secrets.HOST_PORT }}
          PROJ_PATH: ${{ secrets.PROJ_PATH }}

  deploy:
    needs: env-validate
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        
      - name: Configure SSH
        uses: ./.github/actions/deploy/setup-ssh
        with:
          HOST_SSH_PRIVATE_KEY: ${{ secrets.HOST_SSH_PRIVATE_KEY }}

      - name: Deploy Application
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.HOST_USERNAME }}
          key: ${{ secrets.HOST_SSH_PRIVATE_KEY }}
          port: ${{ secrets.HOST_PORT }}
          command_timeout: 30m
          script: |
            set -e
            cd ${{ secrets.PROJ_PATH }}
            echo "Starting deployment..."
            docker compose down
            docker compose up -d --build
