version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: TEST_POSTGRES
    environment:
      POSTGRES_USER: test
      POSTGRES_PASSWORD: test
      POSTGRES_DB: test
    ports:
      - "5443:5432"
    networks:
      - postgres_network


networks:
  postgres_network:
    driver: bridge